<?xml version="1.0"?>
<model>
  <name>Hexa VTOL</name>
  <version>1.0</version>
  <sdf version='1.4'>Hexa_vtol.sdf</sdf>

  <author>
   <name>Jinwoo Lee</name>
   <email>qaz6906@naver.com</email>
  </author>

  <description>
    This is a model of a standard VTOL hexa plane setup for SITL.
  </description>
</model>
